<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>youtube</string>
		<string>tiktok</string>
		<string>twitter</string>
		<string>snssdk1233</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SpecialGothicExpandedOne-Regular.ttf</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We remove a session's saved wrap from your Photos when you delete that session.</string>
</dict>
</plist>
